<!DOCTYPE html>
<html>
    <head>
        <title>Lulu's blog: Japan!!</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Blog Lulu: Japon</a></h1>
        </header>
        {% for post in posts %}
            <article>
                <br>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
                <br>
            </article>
        {% endfor %}
    </body>
</html>